@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*************************
*******Typography******
**************************/
  
body {
	background: #fff;
	 
	color:#000;
	line-height: 22px;
	font-size:16px; margin:0;font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;  
	color:#343433;font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
a{outline:none;}
 
a {
	color: #000;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
 -webkit-transition: all .5s cubic-bezier(0.215, .61, .355, 1);
 -moz-transition: all .5s cubic-bezier(0.215, .61, .355, 1);
 -o-transition: all .5s cubic-bezier(0.215, .61, .355, 1);
 transition: all .5s cubic-bezier(0.215, .61, .355, 1);
}
a:hover, a:focus {
	color: #d43133;
}
.logo{display: inline-block;float: left;}
.mobilemenu{ display: inline-block;} 
.hed{ padding: 0 10px;} 
.logo img{ width: 120px;}
.border-b1 { border-bottom: 1px solid #f2f1e6; padding: 20px 0;}
.relative{ position: relative;}
.mobilemenu{padding: 0 0 0 30px;border-left:2px solid #dddddd;margin: 0 0 0 30px;}
.mobilemenu a{width: 35px;height: 35px;display: block;border-radius: 50%;border: 2px solid #4a4949;text-align: center;padding-top: 5px;}
.menuline{width: 17px;display: block;height: 3px;border-radius: 50%;background: #e81d26;margin: 3px auto;}
.fin_r_menu{display: block;list-style-type: none;margin: 0;padding: 0;}
.fin_r_menu li{padding: 0 0 0 20px;display: inline-block;}
.logout img{width: 35px;}
.logname a{display: inline-block;width: 35px;height: 35px;line-height: 35px;text-align: center;color: #fff;background: #ee5a60;border-radius: 50%;font-weight: bold;font-family: 'Montserrat', sans-serif;}
.dashboard_mid{width: 850px;margin: 0 auto;}
.filtermanu{ text-align: center;}
.filtermanu ul{margin: 0;padding: 0;list-style-type: none;display: inline-block;position: relative;}
.filtermanu ul li{display: inline-block;padding: 0 10px;font-weight: 500;color: #6E6E6E;position: relative;}
.filtermanu ul li a{font-family: 'Merriweather', serif;color: #0270E3;font-weight: 800;display: block;padding: 20px;}
.filtermanu ul.topmenu:after{background:#c6c6c6;bottom: 0;left: 30px;right: 40px;height: 1px;content: "";position: absolute;}
.leadsrow{ padding: 30px 0;}
.leadinfobox{width: 224px;display: inline-block;height: 224px;border: 1px solid #DBD9CC;border-radius:50%;text-align: center;padding-top: 60px;}
.leadcount{
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: #6E6E6E;
    font-size: 59px;
    line-height: initial;
    letter-spacing: -1px;
    padding-right: 20px;
} img{ max-width: 100%;}
.leadcount span{
    position: absolute;
    background: #0270E3;
    top: -12px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 20px;
    border-radius: 50%;
    right: 0;
}
.leadname{
    color: #6E6E6E;
    font-weight: bold;
    line-height: initial;
    font-size: 14px;
}
.graphrow{ padding: 30px 0;}
.grapdetails{ padding: 30px 0;}
.titleOne{ font-family: 'Merriweather', serif; font-weight: bold; color: #555555; font-size: 20px;}
.graphinfo{ margin:30px 0 0; padding: 0; list-style-type: none; }
.graphinfo li{display: block;font-size: 16px;font-weight: 500;padding:8px 0 8px 30px;position: relative;color: #B9B6AE;}
.graphinfo li:after{width: 15px;height: 15px;position: absolute;left: 0;top: 50%;margin-top: -8px;content: "";border-radius:50%;background: #B9B6AE;}
.graphinfo .color1{ color: #87C1FC;  }
.graphinfo .color2{ color: #FFE251; }
.graphinfo .color3{ color: #FE8C8C;}
.graphinfo .color4{ color: #77E450;}

 .graphinfo li.color1:after{ color: #87C1FC;  background: #87C1FC;}
.graphinfo li.color2:after{ color: #FFE251; background: #FFE251;}
 .graphinfo li.color3:after{ color: #FE8C8C; background: #FE8C8C;}
 .graphinfo li.color4:after{ color: #77E450; background: #77E450;}

.footer{padding: 50px 10px 20px;}
.footer ul{ margin: 0; padding: 0; list-style-type: none;}
.footer ul li{ display: inline-block; padding: 0 20px; position: relative;}
.footer ul li a{ display: block; color: #bbb9b4; font-size: 14px;}
.powered{display: inline-block;position: relative;color: #bbb9b4;font-size: 14px;padding-right: 50px;}
.poweredimg{position: absolute;bottom: 0;right: 0;}
a:hover{ text-decoration: none;}
.footer ul li a:hover{ color: #000;}
.footer ul li:after{width: 1px;height: 10px;background:#bbb9b4;position: absolute;right: 0;content: "";top: 6px;}
.footer ul li:nth-child(3):after{ display: none;}
.filtertext{ padding: 20px;}
.promenu.drop_arrow:after{width: 10px;height: 6px;background: url(../images/d_arrow.png);content: "";position: absolute;right: 20px;top: 29px;}
.promenu{position: relative;padding-right: 50px !important;}
.brd_left:after{position: absolute;width: 1px;height: 20px;background: #e4cbcb;left: -2px;content: "";top: 20px;}
.brd_left{ position: relative;}
.filtermanu .submenu{position: absolute !important;top: 98%;right:0;min-width: 220px;background: #fff;border: 1px solid #d0cebd;border-radius:20px;padding: 30px !important;z-index: 9;display: none;}
.submenu li{ display: block !important;}
.filtermanu .submenu li a{font-family: 'Roboto', sans-serif;color: #6E6852 !important;font-weight: 400;padding: 10px 0;}
.filtermanu .submenu li{
    text-align: left;
    border-bottom: 1px solid #E4CBCB;
}
.filtermanu .submenu li:last-child{ border: none;}
.filtermanu .submenu:after, .filtermanu .submenu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.filtermanu .submenu:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.filtermanu .submenu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #D0CEBD;
	border-width: 11px;
	margin-left: -11px;
}
.filtermanu .submenu li a:hover{ color: #0270E3 !important;}
.dropmenu:hover .submenu{ display: block;}
.dropmenu:hover .promenu {opacity: 0.5;}
.dropmenu:hover .promenu:after{ transform: rotate(-180deg);}
.footer ul li:nth-child(1){ padding-left: 0;}
.submenu.calc{ min-width: 300px;right: -50px;}
.graphinfo.salesby li:after{
    width: 6px;
    height: 6px;
    margin-top: -3px;
    }
.graphinfo.salesby li{
    padding: 8px 0 8px 15px;
}
.pad_l0 { padding-left: 0;} 
.pad_r0{ padding-right: 0;}
.insulead{ padding-left: 100px;}
.m_l_15{ margin-left: -15px;}

.slidercol{min-height: 500px;}

.slidercol .carousel-item {position: relative;}
.slidecntmid{min-height: 550px;}
.slide_info h1{margin: 0 0 15px;font-size: 70px;font-weight: 900;color: #555555;line-height: 70px;letter-spacing: -2px;}
.slide_info p{font-size: 18px;color: #BBB8AC;font-family: 'Merriweather', serif;font-weight: 500;letter-spacing: -1px;}
.slide_info h1 span { color: #EA343C;}
.slide_info p span{ color: #0270E3;}
.slideOne:after{width: 304px;height: 420px;background: url(../images/slide3.svg);position: absolute;right: 0;content: "";background-repeat: no-repeat;background-size: cover;top: 50%;margin-top: -210px;}
#hero-slider{padding: 0 80px;}
.loginlink a{font-family: 'Merriweather', serif;color: #BBB8AC;font-size: 18px;position: relative;top: 2px;position: relative;padding-right: 24px;}
.loginlink a:after{background: url(../images/arrow_r.svg);position: absolute;right: 0;width: 16px;height: 15px;content: "";top: 6px;}
.carousel-control-next, .carousel-control-prev{width: auto;height: auto;top: 50%;bottom: auto;/* background-size: cover; */opacity: 1;}
.carousel-control-next:after, .carousel-control-prev:after{width: 20px;height: 35px;content: "";background-size: contain !important;margin-top: -16px;}
.carousel-control-next:after{background: url(../images/slide_r_arrow.svg);}
.carousel-control-prev:after{background: url(../images/slide_l_arrow.svg);}
#hero-slider .carousel-indicators li{width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #E8E6DF;
    margin: 0 5px;
    padding: 0;
    border: none;}
#hero-slider .carousel-indicators li.active{ padding: 0; background:#FA513C; }
.sidenav {
  height: 100%;  
  width: 0; 
  position: fixed;  
  z-index: 9;  
  top: 0; 
  left: 0;
  background-color:#F9F8F1; margin-left: -400px;  
  transition: 0.5s;  
}

.closebtn{ position: absolute; width: 35px; left: 20px; top: 20px;}
.slidemenu{ margin: 0; padding: 0; list-style-type: none;}
.slidemenu li{display: block;position: static;}
.slidemenu li a{color: #97948C;font-family: 'Merriweather', serif;display: block;padding: 20px 0 20px 130px;font-size: 16px;position: relative;}
.fullheight{ height: 100vh;}
.fullwidth{ width: 100%;}
.slidemenu li a:hover{ background: #F2F0E4;}
.slidemenu li .leve1:before{width: 220px;position: absolute;bottom: -1px;left: 20%;height: 1px;background: #dad9d3;content: "";}
.menuicons{width: 24px;height: 33px;display: inline-block;position: absolute;left: 90px;background-size: cover;background-repeat: no-repeat;top: 50%;margin-top: -13px;background-position: center 0;}

.profile{background-image: url(../images/menuicon1.png);width: 22px;}
.finpro{background-image: url(../images/menuicon2.png);width: 27px;}
.finteam{background-image: url(../images/menuicon3.png);height: 32px;width: 21px;margin-top: -17px;}
.mywallet{background-image: url(../images/menuicon4.png);top: 26px;}
.topoffers{background-image: url(../images/menuicon5.png);width: 28px;}
.bestsell{background-image: url(../images/menuicon6.png);width: 26px;}
.finads{background-image: url(../images/menuicon7.png);width: 30px;}
.fintrain{background-image: url(../images/menuicon8.png);width: 28px;}
.finnews{background-image: url(../images/menuicon9.png);width: 28px;height: 22px;margin-top: -10px;}
.helpdesk{background-image: url(../images/menuicon10.png);width: 28px;margin-top: -15px;} 
.dropdown-toggle::after{border: none;position: absolute;right: 100px;background-image: url(../images/menu_rarrow.png);width: 6px;height: 10px;padding: 0;margin: 0;top: 50%;margin-top: -4px;background-size: cover;background-position: right 0;}
.dropdown:hover .dropdown-menu{ display: block;}

.dropdown-menu.level_one { 
    width: 300px;
    left: 100%;
    top: 0;
    bottom: 0;
    border: none;
    background: #F2F0E4;
    border-radius: 0;
    margin: 0;
}
.slidemenu .dropdown-menu.level_one li a{padding: 15px 0 15px 80px;font-family: 'Merriweather', serif;font-style: italic;font-size: 14px;}
.carousel-indicators{ z-index: 3;}
.dropdown-menu.level_two { 
    width: 300px;
    left: 100%;
    top: 0;
    bottom: 0;
    border: none;
    background: #E8E5D7;
    border-radius: 0;
    margin: 0;display: none !important;
}

.level_one li.dropdown:hover .dropdown-menu.level_two{ display: block !important;} 
.leve2:hover{ background: #E8E5D7 !important;}
ul{ margin: 0; padding: 0;}
.slidemenu li a:hover{ color: #EA343C !important;}

.dropdown:hover .leve1.dropdown-toggle{background: #F2F0E4 !important;}
.level_one .dropdown:hover .leve2.dropdown-toggle{background: #E8E5D7 !important;}
.dropdown:hover a.leve1{ color: #EA343C !important;}
.slidemenu .dropdown-menu.level_two li a{ background: none !important;}
.leve1:hover .menuicons{ background-position: center bottom;}
.leve1:hover .menuicons.profile, .dropdown:hover .leve1.dropdown-toggle .menuicons.profile {
    background-position: center -49px;
}
.leve1:hover .menuicons.finpro, .dropdown:hover .leve1.dropdown-toggle .menuicons.finpro  {
    background-position: center -46px;
}
.leve1:hover .menuicons.mywallet, .dropdown:hover .leve1.dropdown-toggle .menuicons.mywallet {
    background-position: center -39px;
}
.leve1:hover .menuicons.topoffers, .dropdown:hover .leve1.dropdown-toggle .menuicons.topoffers {
    background-position: center -64px;
}
.leve1:hover .menuicons.bestsell, .dropdown:hover .leve1.dropdown-toggle .menuicons.bestsell {
    background-position: center -46px;
}
.leve1:hover .menuicons.finads, .dropdown:hover .leve1.dropdown-toggle .menuicons.finads {
    background-position: center -49px;
}
.leve1:hover .menuicons.fintrain, .dropdown:hover .leve1.dropdown-toggle .menuicons.fintrain {
    background-position: center -39px;
}
.leve1:hover .menuicons.finnews, .dropdown:hover .leve1.dropdown-toggle .menuicons.finnews {
    background-position: center -38px;
}
.leve1:hover .menuicons.helpdesk, .dropdown:hover .leve1.dropdown-toggle .menuicons.helpdesk {
    background-position: center -44px;
}
 .dropdown-toggle.leve1:hover::after, .dropdown:hover .dropdown-toggle::after{background-position: left 0;}
.leve2.dropdown-toggle::after{ margin-top: -6px;}

.level_one .dropdown:hover .leve2.dropdown-toggle {
    color: #EA343C !important;
}
 
.slidemenu li .leve3:before {
    width: 180px;
    position: absolute;
    bottom: -1px;
    left: 20%;
    height: 1px;
    background: #dad9d3;
    content: "";
}
.slideTwo:after{width: 270px;height: 347px;background: url(../images/slide4.svg);position: absolute;right: 0;content: "";background-repeat: no-repeat;background-size: contain;top: 50%;margin-top: -150px;}


.slideThree:after{width: 270px;height: 347px;background: url(../images/slide2.svg);position: absolute;right: 8%;content: "";background-repeat: no-repeat;background-size: contain;top: 50%;margin-top: -150px;}
.slide_info  { position: relative; z-index: 3;}
.logincntmid{/* min-height: 500px; */}
.logincol{padding:0px;}

.logincol h1{margin: 0 0 15px;font-size: 65px;font-weight: 900;color: #555555;line-height: 65px;letter-spacing: -2px;} 
.logincol h1 span { color: #EA343C;}

.logincntmid{ padding: 150px 0 0; position: relative;}

.logincntmid:after{width: 389px;height: 300px;background: url(../images/loginimg.png);position: absolute;left: 37%;content: "";background-repeat: no-repeat;background-size: contain;top: 76%;margin-top: -150px;}
.logincnt{ position: relative; z-index: 3;}
.loginform{border: 1px solid #DBD9CC;padding: 35px;border-radius:20px;position: absolute;right: 0;z-index: 4;min-width: 350px;}
.logincol .container{ position: relative;}
.logincol .form-group input{border: none;border-bottom: 1px solid #f2f1e6;width: 100%;padding: 10px 0;font-family: 'Merriweather', serif;color: #6D6A57;font-weight: 800;font-size: 14px;}
a:focus, button:focus, input:focus{ outline: none !important;}

.loginbtns{ padding: 20px 0 30px;}
.loginbtns button{border:1px solid #EA343C;background: #EA343C;color: #fff;border-radius:30px;padding: 15px 25px;font-family: 'Merriweather', serif;min-width: 130px;}
.loginbtns button.signup{border:1px solid #B8B28F;background: #fff;color: #B8B28F;float: right;}
.loginicon{ text-align: right; padding: 0 0 20px;}
.forgotlink{font-family: 'Merriweather', serif;color: #0270E3;text-decoration: underline;font-weight: 600;font-size: 15px;}
.loginbtns button:hover{border:1px solid #B8B28F;background: #fff;color: #B8B28F;}
.loginbtns button.signup:hover{border:1px solid #EA343C;background: #EA343C;color: #fff;}
.heightvh{ height: 100vh;}
.hedtop{ position: absolute; left:0; right: 0; top: 0;} 
.ftpbtm{ position: absolute; left:0; right: 0; bottom: 0;} 
.widthfull{ width: 100%;}
.logname{ position: relative;}
.logname_info{background: #fff;padding: 20px 30px;position: absolute;left: -250px;top: -10px;border: 1px solid #E2E2D0;width: 250px;display: inline-block;border-radius: 15px;color: #555555;text-align: left;box-shadow: 0px 3px 3px #f9f9f9;font-family: 'Merriweather', serif;line-height: initial;font-size: 15px;display: none;}
.logname_info strong{display: block;font-family: 'Roboto', sans-serif;font-size: 18px;font-weight: 600;padding: 0 0 8px;}
.logname_info:after, .logname_info:before {
	left: 100%;
	top: 29%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.logname_info:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.logname_info:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #E2E2D0;
	border-width: 12px;
	margin-top: -12px;
}
.logname a:hover .logname_info{ display: block;}
.singlemenu{display: inline-block;padding: 0 0 0 10px;border-left: 2px solid #dddddd;margin: 0 0 0 25px;}
.singlemenu ul{margin: 0;list-style-type: none;display: block;padding: 15px 0 0;}
.flex{ display: flex;}
.singlemenu ul li {position: relative;padding:0 20px;display: inline-block;border-left: 1px solid #dddddd;line-height: 15px;}
.singlemenu ul li a{ display: block;font-family: 'Merriweather', serif; color: #BFBEBE; font-weight:600; font-size: 12px;}
.singlemenu ul li:nth-child(1){ border: none;}
.singlemenu ul li.active a, .singlemenu ul li a:hover{ color: #686868;}
.singlecol{ padding: 100px 0;}
.leadmenu{margin: 0;display: inline-block;width: 300px;}
.leadmenu ul{margin: 0;padding: 0;list-style-type: none;display: block;max-width: initial;}
.leadmenu ul li{display: inline-block;position: relative;padding: 10px 0;clear: both;}
.leadmenu ul li a.level_sinle{display: inline-block;padding: 28px 35px 28px 90px;background: #F9F8F1;border-radius:50px;border: 1px solid #B8B8B8;color: #97948C;font-family: 'Merriweather', serif;font-weight: 600;min-width: 250px;position: relative;}
.singleicons{position: absolute;left: 35px;width: 35px;height: 35px;line-height: 33px;border-radius:50%;background: #E81D26;text-align: center;top: 21px;}
.singleicons img{max-width: 21px;max-height: 20px;}
.leadmenu ul li a.level_sinle:after{position: absolute;width: 6px;height: 10px;background: url(../images/leadm_arrow.png);content: "";right: 45px;background-position: right center;top: 35px;}
.addmeuimg{ padding: 100px 20px 0 0;}
.leadsubmenu{position: absolute;margin: 0;padding: 0;list-style-type: none;left: 100%;background: #fff;z-index: 3;padding: 10px 25px !important;border: 1px solid #d8d8d8;box-shadow: 0px 0px 10px #f9f9f9;border-radius: 15px;top: 10px;min-width: 180px;display: none !important;margin: 0 0 0 5px !important;}
.lead_drop:hover .leadsubmenu { display: block !important;}
.leadsubmenu li{display: block !important;border-bottom: 1px solid #E4CBCB;}
.leadsubmenu li a{font-size: 14px;padding: 0 0 0 9px;display: block;}

.leadsubmenu:after, .leadsubmenu:before {
	right: 100%;
	top: 11%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.leadsubmenu:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.leadsubmenu:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #E2E2D0;
	border-width: 12px;
	margin-top: -12px;
}
.leadsubmenu li a:hover{ color: #0270E3 !important;}
.lead_drop:hover a.level_sinle .singleicons, .leadmenu ul li a.level_sinle:hover .singleicons{ background: #0270E3;}
.lead_drop:hover a.level_sinle:after, .leadmenu ul li a.level_sinle:hover:after{background-position: 0 center;}
.lead_drop:hover a.level_sinle, .leadmenu ul li a.level_sinle:hover{ color: #0270E3 !important;}


.insurecheck{ padding: 100px 0;}
.insurecheck h3{margin: 0 0 15px;
    font-size: 50px;
    font-weight: 900; text-align: center;
    color: #555555;
    line-height: 70px;
    letter-spacing: -2px;}

.insurecheck h3 span {
    color: #EA343C;
}
.stepnum{margin: 0 0 80px;width: auto;position: relative;display: inline-block;}
.spancount{width: 30px;height: 30px;line-height: 25px;border: 2px solid #000;border-radius:50%;display: inline-block;text-align: center;font-family: 'Merriweather', serif;font-weight: bold;position: relative;z-index: 3;background: #fff;margin: 0 30px;}
.stepnum:after{height: 1px;content: "";position: absolute;left: 30px;right: 30px;top: 48%;border-bottom: 2px dashed #000;}
.spancount.active{background:#0270E3;border-color: #0270E3;color: #fff;/* margin: 0 30px; */}


.floatfield input:focus ~ .floating-label,
.floatfield input:not(:focus):valid ~ .floating-label{
  top:-25px;
  bottom: 10px;
  left: 0px; color: #E81D26;   
  opacity: 1; 
}

.floatfield .inputText {
  width: 100%;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #555555;
  height: 35px;
  border: none;
  border-bottom: 1px solid #F2F1E6;
  font-size: 14px; background: none;
}
.floatfield .inputText:focus{border-color: #E81D26;}
.floatfield .floating-label {
  position: absolute;
  pointer-events: none; font-size: 14px;
  left: 0px;
  top: 0px;
  transition: 0.2s ease all;font-family: 'Merriweather', serif;font-weight: bold; color: #555555;
}
.floatfield{ margin: 0 0 50px; position: relative;} 
.ri100{ padding: 0 100px 0 0;}
.li100{ padding: 0 0px 0 100px;}
.dym{ color: #BBBBBB; font-style: normal;}
.margb30{ margin-bottom: 30px !important;}
.loginbtns.checkbtns { padding: 0;}
.loginbtns.checkbtns button{border-radius: 50px;
    padding: 20px 50px;}
.loginbtns button.signup{ float: none; margin: 0 0 0 20px;}
.ri20{ padding-right: 30px;}
.li30{ padding-left: 30px;}
.insurecheck label{font-family: 'Merriweather', serif;font-weight: bold; color: #555555; font-size: 14px; color: #0270E3;}
.insurecheck label a{ color: #0270E3; text-decoration: underline;}
.insurecheck .custom-control-label::before{width: 25px;left: -35px;
    height: 25px;top: -2px;}
.insurecheck .custom-control{    padding-left: 40px;}
.insurecheck .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image: url(../images/tickmark.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    left: -34px;
    width: 25px;
    top: 3px;
    }
.insurecheck .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0270E3;
    background-color: #fff;
}
.custom-control-label::before{border: #0270E3 solid 1px;}
.marketingcol{ background: #F9F8F1; padding: 70px 0;}

.marketingcol h3{
    margin: 0 0 50px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #555555;
    line-height: 70px;
    letter-spacing: -2px;
    position: relative;
    }

.marketingcol h3 span {
    color: #EA343C;
}
.marketproinfo{padding: 40px 0px 0;} 
.marketproinfo p{margin: 0;font-size: 12px;font-weight: 300;}
.marketicons a{ margin: 0 0 0 20px; display: inline-block;}
.marketicons{ text-align: right;} 
.marketcol{    padding: 25px;
    background: #fff;
    border: 1px solid #B9B79D;
    border-radius: 10px;}
.marketproinfo h5{ margin: 0 0 10px;font-family: 'Merriweather', serif;font-weight: bold; color:#686868;  position: relative;}
.showmore{ padding:50px 0 0; text-align: center;}
.showmore a{ background: #EA343C;  display: inline-block; padding: 18px 25px; border-radius: 40px;font-family: 'Merriweather', serif; color: #fff;}
.marketmenutoggle{width: 32px;height: 25px;background-image: url(../images/toggle.png);display: inline-block;background-repeat: no-repeat;}
.marketmenu{position: absolute;right: 0;top: 0;letter-spacing: 0;}
.marketmenu .leadsubmenu{ 
    left: auto;
    right: 102%;
    text-align: left;
    }
.marketmenu .leadsubmenu:before{border-left-color: #E2E2D0; border-right: 0}
.marketmenu .leadsubmenu:after, .marketmenu .leadsubmenu:before{left: 100%;}
.marketmenu .leadsubmenu:after{border-left-color: #fff; border-right: 0}
.marketmenu .leadsubmenu a{ color: #9E9E9E; font-weight: 500;}
.marketmenu:hover .leadsubmenu{
    display: block !important;}
.mar_l0_r20{ margin: 0 20px 0 0 !important;}
.sucessmsg{ background: #F9F8F1; padding: 100px 0; min-height: 530px; position: relative;}
.subhedmain{margin: 0 0 10px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #555555;
    line-height: 70px;
    letter-spacing: -2px;}
.subhedmain span {
    color: #EA343C;
}
.backlink{ text-align: center;font-family: 'Merriweather', serif;font-weight: bold; color: #0270E3; text-decoration: underline;}
.profileclose{ position: absolute; right: 80px; top: 80px;}

.termscol{ background: #fff; padding: 50px; width: 60%; margin: 0 auto;}
.termscol p{ color: #A8A8A8; font-size: 14px;}
.termscol h5{ color: #646463; font-weight: 900; font-size: 25px; margin: 0 0 50px; text-align: center;}
.termscol p strong{ color: #555555;}
.certificate{ background: #fff; padding: 30px; display: inline-block;}
.padt_70{ padding-top: 70px;}
.trainingcol{padding:30px;border: 1px solid #B9B79D;border-radius:10px;background:#fff;min-height: 250px; margin: 0 20px;}
.padt_50{ padding-top: 50px;}
.trainingcol h5{color: #686868;margin: 15px 0 0;font-family: 'Merriweather', serif;font-size: 14px;font-weight: 600;}
.fltmenu{     position: absolute;
    top: 0;
    right: 0;}
.fin-news h5{margin: 20px 0 15px;font-weight: 800;color: #686868;font-size: 16px;}
.fin-news p{color: #BBB8AC;font-size: 14px;line-height: initial;}
.fin-news a{ color: #0270E3; font-size: 14px;}
.fin-news{min-height: 500px;}
.insurance-check{
    background: #F9F8F1;
    padding:50px;
    height: 800px;
    position: relative;
    overflow-y: scroll;
    }
.insurance-scroll{ border: 1px solid #707070; border-radius: 10px; padding: 50px; background: #fff;}
.insurance-scroll p{ color: #A7A6A6; font-size: 13px;}
.insurehed h6{color: #686868;font-size: 25px;font-family: 'Merriweather', serif;margin: 0 0 20px;font-weight: 600;}
.insurehed .text-right{ color: #BBB8AC;font-family: 'Merriweather', serif; font-weight: 600; font-size: 14px; padding-top: 5px;}
.insurehed .text-right i{ display: inline-block; line-height: 10px; padding: 0 20px;}
.insurehed .text-right a{ display: inline-block; margin: 0 0 0 30px; color: #0270E3;}
.insurefull{ padding: 0 25px;}
.pad_t50{ padding-top: 50px;}
.btnmarg button{ margin: 0 20px;}
.insuback{     position: relative;
    padding-right: 10px;
    top: -3px;}
.mar_l20{ margin-left: 20px !important;}
.mar_l0{ margin-left: 0 !important;}
.pad_t40{ padding-top: 40px;}
.selectproductext{color: #E81D26;font-family: 'Merriweather', serif;
    font-weight: bold; font-size: 14px; padding: 0 0 15px;}
.marb30{ margin-bottom: 30px !important;}
.imp{color: #BBB8AC;font-family: 'Merriweather', serif; font-size: 14px; padding: 20px 0 60px;}
.imp span{ color: #0270E3; }
.pad_r20{ padding-right: 20px;}
.social{ margin: -20px 0 0;}
.social img{ margin: 0 30px 0 0}
.leadrecordcol{ padding: 100px 25px;}
.prevnext li{ margin: 0; padding: 0; list-style-type: none; display: inline-block; padding: 0 10px; position: relative;}
.prevnext .prev, .prevnext .nxt{padding: 10px 25px;font-family: 'Merriweather', serif;color: #9A937A;border: 1px solid #D8D6C9;border-radius:30px;display: block;}
.prevnext a{ color: #D6D1BE;}   
.prevnext a.active{color: #0270E3; font-weight: bold;}
.prevnext .nxt{ background: #EA343C; color: #fff; border: 1px solid #EA343C;}
.prevnext li:after{} 
.leadsearch .filtermanu ul.topmenu:after{ display: none;}
.leadsearch .filtermanu{text-align: left;display: inline-block;}
.excelink{
    display: inline-block;
    padding: 10px 25px;
    font-family: 'Merriweather', serif;
    background: #EA343C;
    color: #fff;
    border-radius: 30px;
    margin-left: 20px;
    }
.searchicn{display: inline-block;float: right;margin: 20px 0 0;}
.leadsearch{display: inline-block;width: 60%;border-bottom: 1px solid #e0e0e0;}
.leadsearch .submenu{ left: -10px;}
.excelink:hover{ color: #fff;}
.prevnext li:after{width: 1px;height: 13px;background: #D6D1BE;position: absolute;right: 0;content: "";top: 4px;}
.prevnext li:nth-child(1):after, .prevnext li:nth-child(5):after, .prevnext li:nth-child(6):after{ display: none;}
.pad_b30{ padding-bottom: 30px;}
.leadtable table{ width: 100%;}
.leadtable table th{ padding:20px 0;font-family: 'Merriweather', serif;color: #9A937A; text-align: center;}
.leadtable table td{ padding:20px 0; color: #9A937A;text-align: center; font-size: 14px;}
.dollarsign{width: 28px;height: 28px;line-height: 25px;border: 2px solid #9F9880;border-radius:50%;display: inline-block;}
.selecttd td{ background: #F9F8F1;}
.customname:hover .logname_info {
    display: block;
    left: 100%;
    right: auto;    
}

.customname{ position: relative;}
.customname .logname_info:after, .customname .logname_info:before {
    right: 100%;left: auto;}
.customname .logname_info:after { 
    border-right-color: #fff; border-left: 0;}
.customname .logname_info:before { 
    border-right-color: #E2E2D0; border-left: 0;}
.showingcol{ padding: 20px 0; color: #0270E3;}
.loanlist{ margin: 0; padding: 0; list-style-type: none;}
.loanlist li{padding: 10px 0;font-family: 'Merriweather', serif;color: #9A937A;border-bottom: 1px solid #e4e3df;}
.loanlist li.no-brdr{ border: none;}
.loanproperty .trainingcol h5{font-size: 20px;
    margin: 20px 0 30px;}
.loanlist li span{ color:#0270e3;}
.loanproperty .trainingcol {min-height: 400px;}
.ftrlightbg{background: #F9F8F1;    }
.insuback img{padding-right: 10px;
    position: relative;
    top: -4px;}
.pad_t50{ padding-top: 50px;}
.earingselect{ border: none !important; padding: 0 !important;}
.leadtable.text-l table th, .leadtable.text-l table td{ text-align: left;padding: 20px 10px;}
.claimrow{ position: relative;}
.claimcol{position: absolute;right: 10px;top: 22px;}
.claimcol span{display: inline-block;padding-right: 30px;font-size: 30px; color: #555555;}
.claimcol span strong{ font-size:45px;}
.claimlink{
    padding: 8px 25px;
    background: #0270E3;
    font-family: 'Merriweather', serif;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
    position: relative;
    top: -8px;
    }
.claimlink:hover{ color: #fff;}
.graybg {
    background: #F9F8F1; 
    min-height: 530px;
    position: relative;
}
.padt70{ padding-top:70px;}
.textlink{ color: #0270E3 !important;}
.textlink a{ color: #0270E3;}
.padt40{ padding-top:40px;}
.invoicerow{ padding:50px 30px; background: #fff; width: 80%; margin: 0 auto; border: 1px solid #ccc;}
.invoicerow h4{ text-align: center; margin: 0 0 50px; color: #555555; font-weight: 600; font-size: 22px;}
.addresstext{ font-size:15px; color: #9A937A; font-family: 'Merriweather', serif;}
.addresstext p{ margin:10px 0;}
.addresstext p strong{ color: #555555;}
.pad_b0{ padding-bottom: 0 !important;}
.payhed h3 {
    margin: 0 0 30px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #555555;
    line-height: 70px;
    letter-spacing: -2px;
}
.payhed h3 span {
    color: #EA343C;
}







































